@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;

  --border: 240 5.9% 90%;
}

body {
  @apply bg-white text-black;
}

.prose pre {
  @apply bg-black text-white p-4 rounded-lg overflow-x-auto;
}

.prose code {
  @apply text-sm;
}